{% extends 'base.html.twig' %}

{% block title %}
	Prendre rendez-vous
	{{parent()}}
{% endblock %}

{% block body %}
	<main>
		<div class="banner">
			<h1>Prendre rendez-vous</h1>
		</div>
	</main>
{% endblock %}
