.banner {
    background: no-repeat url(../../../public/img/banniere_Blog.jpg)
      center/cover;
    padding: 1rem 0 10rem;

    h1 {
        text-align: center;
        padding-top: 13rem;
        color: rgb(0, 0, 0);
    }

  }