.form {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

    label {
        padding: 1rem;
        margin-left: auto;
        margin-right: auto;
    }
    input {
        width: 350px;
        // max-width: 350px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;


    }
}