.banner-prestation {
  background: no-repeat url(../../../public/img/chienNeige.jpg) center/cover;
  padding: 1rem 0 10rem;
  h1 {
    text-align: center;
    padding-top: 13rem;
    color: rgb(255, 255, 255);
  }
}

#prestation {
  margin: 4rem 0;


  h2 {
    text-align: center;
    margin: 0 auto 4rem;
  }

  .show-prestation {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .card-prestation {
    position: relative;
    text-align: center;
    margin: 1rem 1rem 4rem;
    padding: 0 !important;
    height: 500px;
    min-width: 350px;
    border-radius: 14px;
    box-shadow: rgb(136, 136, 136) 1px 2px 20px;

    .card-content {
      width: 100%;
      height: 100%;
      padding: 1rem;

      &:hover img {
        transform: scale(1.1);
      }

      .img-prestation {
        width: 200px;
        height: 200px;
        margin: 2rem auto;
        border-radius: 200px;
        border: 5px solid $primary-color;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.7s;
        }
      }

      a {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);

        padding: 1rem 3rem;
        border-radius: 14px;
        background-color: $primary-color;
        color: #fff;
        text-decoration: none;
        transition: background-color 0.3s;
        &:hover {
          background-color: $btn-hover;
        }
      }
    }
  }
}
