<header>
    <nav>
        <a href="#">Accueil</a>
        <a href="#">Service</a>
        <a href="#">Galerie</a>
        <a href="#">Contact</a>
        <a href="#">Connexion</a>
    </nav>
</header>