<header>
	<div class="bando">
		<p>Me contacter  par téléphone au 06 04 41 44 14 ou par e-mail à contact@educpluto.com
		</p>
	</div>
	<div class="nav-blur">
		<nav>
			<div class="logo-header">
				<img src=" {{ asset('/img/logo.jpeg') }}" alt="logo du site">
			</div>
			<a href="#">Accueil</a>
			<a href="#">Prestation</a>
			<a href="#">Galerie</a>
			<a href="#">Blog</a>
			<a href="#">Contactez-nous</a>
		</nav>
	</div>

</header>

