<section id="newsletter">
     <div class="newsletter">
        <h3>Restez <span class="font-green">Informé !</span></h3>
        <div class="newsletter-content">
            <p>Chaque semaine une astuce, une informations utiles, des idées pour stimuler la relation avec votre chien !</p>
            <form action=""></form>
        </div>
     </div>
</section>