<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}- Educ Pluto{% endblock %}</title>
        <link href="{{ asset('build/app.css') }}" rel="stylesheet">
    </head>
    <body>
        {% include "_header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "_footer.html.twig" %}
    </body>
</html>
